POSTGRES_DB=training
POSTGRES_USER=training
POSTGRES_PASSWORD=replace-with-long-random-password
TRAINING_JWT_KEY=replace-with-at-least-32-random-bytes
TRAINING_ADMIN_USERNAME=taras
TRAINING_ADMIN_PASSWORD=replace-with-strong-password
TRAINING_HOME_ASSISTANT_API_KEY=replace-with-random-api-key
TRAINING_HOME_ASSISTANT_USERNAME=taras
TRAINING_BIND_ADDRESS=0.0.0.0
TRAINING_PORT=8181
